body {
  padding: 0px;
  margin: 0px;
}

#mymap,
body,
html {
  height: 100%;
}

.legend {
  line-height: 25px;
  color: grey;
}

.info {
    padding: 6px 15px;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.legend i {
    width: 45px;
    height: 20px;
    float: left;
    margin-right: 18px;
    opacity: 1;
}